{%- set components = {
    'datepicker': False,
    'dict_type': False,
} %}

{%- for field in fields %}
    {%- set html_type = field.gen_field.html_type %}
    {%- if html_type in components %}
        {%- set _ = components.update({html_type: True}) %}
    {%- endif %}
    {%- if field.dict_type != "" %}
        {%- set _ = components.update({'dict_type': True}) %}
    {%- endif %}
{%- endfor %}

{%- if components.datepicker %}
import dayjs from 'dayjs';
{%- endif %}
import {
  Descriptions,
  Drawer,
  Button,
  Space,
} from 'antd';
{%- if components.dict_type %}
import { useAppSelector } from '@/stores';
{%- endif %}
import { {{ class_name }}Detail } from '@/types/{{ kebab_case_class_name }}';
import React, { useMemo } from 'react';

interface {{ class_name }}DetailDrawerProps {
  is{{ class_name }}DetailDrawerVisible: boolean;
  on{{ class_name }}DetailClose: () => void;
  {{ lowercase_class_name }}Detail: {{ class_name }}Detail | null;
}

const {{ class_name }}DetailComponent: React.FC<{{ class_name }}DetailDrawerProps> = ({
  is{{ class_name }}DetailDrawerVisible,
  on{{ class_name }}DetailClose,
  {{ lowercase_class_name }}Detail,
}) => {

{%- if components.dict_type %}
  const { dictData } = useAppSelector((state: Record<string, any>) => state.dict);
{%- endif %}

  return (
    <Drawer
      title="{{ function_name }}详情"
      open={is{{ class_name }}DetailDrawerVisible}
      onClose={on{{ class_name }}DetailClose}
      destroyOnClose
      width={600}
    >
      { {{ lowercase_class_name }}Detail && (
        <Descriptions column={1} bordered>
          {%- for field in fields %}
          {%- set comment = "" %}
          {%- if field.gen_field.detailable == 1 and field.gen_field.field_name != primary_key %}
          {%- if field.field.comment and field.field.comment != "" %}
              {%- set parentheseIndex_en = field.field.comment.find("(") %}
              {%- set parentheseIndex_cn = field.field.comment.find("（") %}
              {%- if parentheseIndex_en!= -1 %}
                  {%- set comment = field.field.comment[:parentheseIndex_en] %}
              {%- elif parentheseIndex_cn!= -1 %}
                  {%- set comment = field.field.comment[:parentheseIndex_cn] %}
              {%- else %}
                  {%- set comment = field.field.comment %}
              {%- endif %}
          {%- endif %}
          {%- set field_name = field.gen_field.field_name %}
          {%- set html_type = field.gen_field.html_type %}
          {%- set dict_type = field.gen_field.dict_type %}
          <Descriptions.Item label="{{ comment }}">
            {%- if html_type == 'datepicker' or html_type == 'datetime' %}
              {dayjs({{ lowercase_class_name }}Detail.{{ field_name }}).format('YYYY-MM-DD')}
            {%- elif dict_type %}
              {(() => {
                const values = ({{ lowercase_class_name }}Detail.{{ field_name }} || '').toString().split(',');
                return values.map((value, index) => {
                  const item = dictData["{{ dict_type }}"] && dictData["{{ dict_type }}"].find((d: Record<string, string>) => d.value === value);
                  const content = item ? <span key={value}>{item.label}</span> : <span key={value}>-</span>;
                  return index < values.length - 1 ? (
                    <React.Fragment key={index}>
                      {content}
                      ,&nbsp;
                    </React.Fragment>
                  ) : content;
                });
              })()}
            {%- else %}
              { {{ lowercase_class_name }}Detail.{{ field_name }}}
            {%- endif %}
          </Descriptions.Item>
          {%- endif %}
          {%- endfor %}
        </Descriptions>
      )}
    </Drawer>
  );
};

export default {{ class_name }}DetailComponent;
