{%- set components = {
    'input': False,
    'select': False,
    'datepicker': False,
    'checkbox': False,
    'radio': False,
    'textarea': False,
    'autocomplete': False,
    'cascader': False,
    'colorpicker': False,
    'inputnumber': False,
    'mentions': False,
    'rate': False,
    'slider': False,
    'switch': False,
    'timepicker': False,
    'transfer': False,
    'treeselect': False,
    'upload': False,
    'dict_type': False,
} %}

{%- if "" != tree_parent_code %}
{%- set _ = components.update({'treeselect': True}) %}
{%- endif %}

{%- for field in fields %}
    {%- set html_type = field.gen_field.html_type %}
    {%- if html_type in components %}
        {%- set _ = components.update({html_type: True}) %}
    {%- endif %}
    {%- if field.dict_type != "" %}
        {%- set _ = components.update({'dict_type': True}) %}
    {%- endif %}
{%- endfor %}

{%- if components.input -%}
import { Input } from 'antd';
{%- endif %}
{%- if components.radio or  components.select %}
import { Select } from 'antd';
import { Radio } from 'antd';
{%- endif %}
{%- if components.datepicker %}
import { DatePicker } from 'antd';
import dayjs from 'dayjs';
import type { Dayjs } from 'dayjs';
{%- endif %}
{%- if components.checkbox %}
import { Checkbox } from 'antd';
{%- endif %}
import {
  AutoComplete,
  Button,
  Cascader,
  ColorPicker,
  Form,
  InputNumber, Mentions,
  Modal, Rate,
  Slider, Switch, TimePicker, Transfer, TreeSelect, Upload, Space
} from 'antd';
{%- if components.dict_type %}
import { useAppSelector } from '@/stores';
{%- endif %}
import { FormInstance } from 'antd/es/form';
import React from 'react';

interface {{ class_name }}QueryProps {
  on{{ class_name }}QueryFinish: () => void;
  on{{ class_name }}QueryReset: () => void;
  {{ lowercase_class_name }}QueryForm: FormInstance;
}

const {{ lowercase_class_name }}QueryFormItemLayout = {
  labelCol: { span: 6 },
  wrapperCol: { span: 18 },
};

const {{ class_name }}QueryComponent: React.FC<{{ class_name }}QueryProps> = ({
  on{{ class_name }}QueryFinish,
  on{{ class_name }}QueryReset,
  {{ lowercase_class_name }}QueryForm,
}) => {
  const handle{{ class_name }}QueryReset = () => {
    on{{ class_name }}QueryReset();
    on{{ class_name }}QueryFinish();
  };

{%- if "" != components.dict_type %}
  const { dictData } = useAppSelector((state: Record<string, any>) => state.dict);
{%- endif %}

  return (
    <Form
      {...{{ lowercase_class_name }}QueryFormItemLayout}
      form={ {{ lowercase_class_name }}QueryForm}
      name="{{ lowercase_class_name }}Query"
      onFinish={on{{ class_name }}QueryFinish}
      layout="horizontal"
      className="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-y-0 gap-x-4 pt-4 px-2 border-b"
    >
      {%- for field in fields %}
      {%- set dictType = field.dictType %}
      {%- set comment = "" %}
      {%- if field.gen_field.queryable == 1 and field.gen_field.field_name != primary_key %}
      {%- if field.field.comment and field.field.comment != "" %}
          {%- set parentheseIndex_en = field.field.comment.find("(") %}
          {%- set parentheseIndex_cn = field.field.comment.find("（") %}
          {%- if parentheseIndex_en!= -1 %}
              {%- set comment = field.field.comment[:parentheseIndex_en] %}
          {%- elif parentheseIndex_cn!= -1 %}
              {%- set comment = field.field.comment[:parentheseIndex_cn] %}
          {%- else %}
              {%- set comment = field.field.comment %}
          {%- endif %}
      {%- endif %}
      {%- set field_name = field.gen_field.field_name %}
      {%- set html_type = field.gen_field.html_type %}
      {%- set dict_type = field.gen_field.dict_type %}
      <Form.Item name="{{ field.gen_field.field_name }}" label="{{ comment }}" >
        {%- if html_type == 'input' %}
        <Input placeholder="请输入{{ comment }}" allowClear />
        {%- elif html_type =='select' or html_type == 'radio' %}
        {%- if dict_type %}
        <Select
            allowClear
            placeholder="请选择{{ comment }}"
            options={ dictData["{{ dict_type }}"] }
        />
        {%- else %}
        <Select placeholder="请选择{{ comment }}" allowClear />
        {%- endif %}
        {%- elif html_type == 'datepicker' or html_type == 'datetime' %}
        {%- if field.gen_field.query_type == "BETWEEN" %}
        <DatePicker.RangePicker
          allowClear
          format="YYYY-MM-DD"
          placeholder={["请选择开始时间", "请选择结束时间"]}
          presets={[
              { label: '最近7天', value: [dayjs().add(-7, 'd'), dayjs()] },
              { label: '最近14天', value: [dayjs().add(-14, 'd'), dayjs()] },
              { label: '最近30天', value: [dayjs().add(-30, 'd'), dayjs()] },
              { label: '最近90天', value: [dayjs().add(-90, 'd'), dayjs()] },
          ]}
        />
        {%- else %}
        <DatePicker
          allowClear
          format="YYYY-MM-DD"
          placeholder="请选择{{ comment }}"
          presets={[
            { label: '昨天', value: dayjs().add(-1, 'd') },
            { label: '上周', value: dayjs().add(-7, 'd') },
            { label: '上月', value: dayjs().add(-1, 'month') },
          ]}
        />
        {%- endif %}
        {%- elif html_type == 'inputnumber' %}
        <InputNumber placeholder="请输入数字" allowClear />
        {%- else %}
        <Input placeholder="请输入{{ comment }}" allowClear />
        {%- endif %}
      </Form.Item>
      {%- endif %}
      {%- endfor %}
      <Form.Item className="flex justify-end">
        <Space className="inline-flex">
          <Button onClick={handle{{ class_name }}QueryReset}>重置</Button>
          <Button type="primary" htmlType="submit">
            查询
          </Button>
        </Space>
      </Form.Item>
    </Form>
  );
};

export default {{ class_name }}QueryComponent;
