{{ license }}
"""{{ ClassName }} mapper"""

from src.main.app.core.mapper.impl.base_mapper_impl import SqlModelMapper
from src.main.app.model.{{ table_name }}_model import {{ ClassName }}Model


class {{ ClassName }}Mapper(SqlModelMapper[{{ ClassName }}Model]):
    pass


{{ className }}Mapper = {{ ClassName }}Mapper({{ ClassName }}Model)
