{{ license }}
"""{{ CN }} mapper"""

from __future__ import annotations
from src.main.app.core.mapper.impl.base_mapper_impl import SqlModelMapper
from src.main.app.model.{{ c_n }}_model import {{ CN }}Model


class {{ CN }}Mapper(SqlModelMapper[{{ CN }}Model]):
    pass


{{ cN }}Mapper = {{ CN }}Mapper({{ CN }}Model)
