{{ license }}
"""{{ CN }} data model"""

from __future__ import annotations
from datetime import datetime
from typing import Optional
from sqlmodel import (
    SQLModel,
    Field,
    Column,
    DateTime,
{%- if index_metadata %}
    Index,
    UniqueConstraint,
{%- endif %}
    BigInteger,
{%- for sql_model_type in import_list %}
    {{ sql_model_type }},
{%- endfor %}
)
from src.main.app.core.utils.snowflake_util import snowflake_id


class {{ CN }}Base(SQLModel):
    {% for field in fields %}
    {%-  if field.gen_field.field_name == "id" %}
    id: int = Field(
        default_factory=snowflake_id,
        primary_key=True,
        nullable=False,
        sa_type=BigInteger,
        {%- if field.gen_field.comment %}sa_column_kwargs={"comment": "{{ field.gen_field.comment }}"}{% endif %}
    )
    {%- elif field.gen_field.field_name == "create_time" %}
    create_time: Optional[datetime] = Field(
        sa_type=DateTime,
        default_factory=datetime.utcnow,
        {%- if field.gen_field.comment %}sa_column_kwargs={"comment": "{{ field.gen_field.comment }}"}{% endif %}
    )
    {%- elif field.gen_field.field_name == "update_time" %}
    update_time: Optional[datetime] = Field(
        sa_type=DateTime,
        default_factory=datetime.utcnow,
        sa_column_kwargs={
            "onupdate": datetime.utcnow,
            {%- if field.gen_field.comment %}"comment": "{{ field.gen_field.comment }}",{% endif %}
        },
    )
    {%- else %}
    {{ field.gen_field.field_name }}: {% if field.gen_field.nullable %}Optional[{{ field.gen_field.field_type }}]{% else %}{{ field.gen_field.field_type }}{% endif %} = Field(
        sa_column=Column(
            {{ field.gen_field.sql_model_type }}{% if field.gen_field.length %}({{ field.gen_field.length }}){% elif field.gen_field.scale %}({{ field.gen_field.length }}, {{ field.gen_field.scale }}){% endif %},
            {% if field.gen_field.nullable %}nullable=True{% else %}nullable=False{% endif %},
            {% if field.default is not none and field.gen_field.default != ""%}default={{ field.gen_field.default }},{% endif %}
            {%- if field.gen_field.comment %}comment="{{ field.gen_field.comment }}"{% endif %}
        )
    )
    {%- endif %}
    {%- endfor %}


class {{ CN }}Model({{ CN }}Base, table=True):
    __tablename__ = "{{ table_name }}"
    __table_args__ = (
        {%- if index_metadata %}
        {%- for index in index_metadata %}
        {%- if index.type == "unique" %}
        UniqueConstraint({{ index.field  }}, name="{{ index.name }}"){% if not loop.last or comment %},{% endif %},
        {%- elif index.type == "primary" %}
        PrimaryKeyConstraint({{ index.field  }}, name="{{ index.name }}"){% if not loop.last or comment %},{% endif %},
        {%- else %}
        Index("{{ index.name }}", {{ index.field  }}){% if not loop.last or comment %},{% endif %},
        {%- endif %}
        {%- endfor %}
        {%- endif %}
        {%- if comment %}
        {"comment": "{{ comment }}"},
        {%- endif %}
    )
